extends ../layouts/LayoutDocumentation 
include ../mixins/common/Card

append variables 
	- var pageTitle = 'Plugins';
	- var pageDes = 'Giving your reign power ups';

block content
	h5.font-base 5.0.0- initial release
	p.mb-0 Converted bootstrap 4 to bootstrap 5 
	p 28 February, 2022

	h5.font-base 4.0.0 - initial release
	p Nothing to see here!

