mixin HeaderTextLeft
  +HeaderSection({
    image: `${CWD}assets/img/headers/header-2.jpg`,
    className: 'overlay parallax',
    attrs: {
      'data-rellax-percentage': '0.5'
    }
  },'container').overflow-hidden.py-0(data-zanim-timeline!={} data-zanim-trigger='scroll')
    +HeaderContent('Take a breath', `Take every chance you get in life, because <br class="d-none d-sm-block"> some things only happen once`).align-items-center.vh-100
    +HeaderIndicatorDown