mixin Address 
	.row.align-items-stretch.justify-content-center&attributes(attributes)
		.col-lg-4.mb-4.mb-lg-0
			.card.h-100 
				.card-body.px-5 
					h5.mb-3 Melbourne Office
					p.mb-0.text-1100 
						| 121 King Street,
						br
						| Melbourne 1200,
						br
						| Australia

		.col-lg-4.mb-4.mb-lg-0
			.card.h-100 
				.card-body.px-5 
					h5.mb-3 Sydney Office
					p.mb-0.text-1100 
						| 62 Collins Street West,
						br
						| Sydney 3000, 
						br
						| Australia

		.col-lg-4.mb-4.mb-lg-0
			.card.h-100 
				.card-body.px-5 
					h5 Socials
					a(href="#!").d-inline-block.mt-2
						span.fab.fa-linkedin.fs-2.me-2.text-primary
					a(href="#!").d-inline-block.mt-2
						span.fab.fa-twitter-square.fs-2.mx-2.text-primary
					a(href="#!").d-inline-block.mt-2
						span.fab.fa-facebook-square.fs-2.mx-2.text-primary
					a(href="#!").d-inline-block.mt-2
						span.fab.fa-google-plus-square.fs-2.ms-2.text-primary