extends ../layouts/LayoutComponent
include ../mixins/components/Swiper
include ../mixins/common/ComponentLink

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)

append variables
  - var pageTitle = 'Swiper';
  
block component
  +Section.py-0 
    +ComponentLink({
      text:'For more detail see, ',
      linkText: 'Swiper Documentation ',
      link: 'https://swiperjs.com/'
    })
    .row 
      .col-lg-12.mb-4.mb-lg-0
        +SwiperCarousel
    .row
      .col-lg-12.mb-4.mb-lg-0
        +SwiperWithThumbnail
    .row
      .col-lg-12.mb-4.mb-lg-0
        +SwiperWithoutThumbnail

  
    +ComponentCardLib({
      codeTitle: 'JavaScript',
    })
      script(src='vendors/swiper/swiper-bundle.min.js')

    +ComponentCardLib({
      codeTitle: 'CSS',
    })
      link(href='vendors/swiper/swiper-bundle.min.css' rel="stylesheet")

